# Typescript compiled files
dist/

# Typescript incremental build info
tsconfig.incremental.tsbuildinfo

# npm installed packages
node_modules/

### Visual Studio Code ###
.vscode

### local env files from modules
src/*/env/local.env
src/data-modules/*/env/local.env
src/integration-modules/*/env/local.env
src/layer-modules/*/env/local.env
